.loginsection{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-self: center;
    width:100%;
  }
  
  .loginsection  button{
    box-sizing: border-box;
    border:1px solid #000;
    background-color: #fff;
    border-radius: 21px;
    padding:1em 2em;
    box-shadow: 1px 1px 3px #000;
    font-weight: bold;
    margin:0.5em;
  }
  
  .loginSection button:hover{
    background-color: #fff;
}