.productoList {
    padding: 1em;
    margin: -1em;
    background-color: #fdeaef;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow-y: scroll;
    justify-content: center;

}

.productoList li {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 1em 0.35em;
    flex-basis: 90%;
    min-height: 400px;
    border-radius: 1em;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.productoList li span {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #000;
    margin: 2em 0.3em;
    font-size: 8px;
}

div .flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product{
    margin: 1em 0em 0em 0em;
}