button {
  border: 1px Solid #303f9f;
  background-color: #fff;
  outline: none;
  padding: 1em 1.5em;
  border-radius: 27px;
  font-weight: bold;
  margin:1em 0.5em;
}

.btnround{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 7px #000;
  width:4em;
  height:4em;
}

.btnaccent{
  background-color: #DB7093;
  color:#FFF;
}

.btnprimary{
  background-color: #303f9f;
  color:#fff;
}

.btnsecondary{
  background-color: #7d0c02;
  color:#fff;
}

