.field {
  margin-bottom:0.5em;
}

label, input {
  display: block;
  box-sizing: border-box;
  width:100%;
  text-align: left;
  outline:none;
}

label{
  font-weight: bold;
  margin-bottom: 0.5em;
}

input{
  padding:1em 0.5em;
  border: solid 1px #000;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #222;
}

input:focus{
  border-color: #DB7093;
  box-shadow: 1px 1px 5px #222;
}
